$link: rgb(161, 201, 244);
$bg-grey: #f2f2f2;

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    line-height: 1.3em;
    padding-bottom: 20px;
}

#container {
    width: 1600px;
    margin: 10px auto;
}

center {
    margin: 0 0 10px;

    span {
        margin: 0 20px;
    }
}

.title {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-bottom: 25px;

    h1 {
        float: left;
        margin: 0;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    nav {
        float: right;
        padding-top: 0px;

        a {
            display: inline-block;
            padding: 2px 10px;
            background: $link;
            color: black;
            border-radius: 4px;
            border: 2px solid lighten($link, 10%);
            margin-left: 15px;
            text-decoration: none;

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                background-color: darken($link, 50%);
                color: white;
            }
        }
    }
}

.back-button {
    float: right;
    font-size: 20px;
}

.program-row {
    overflow: auto;
}

.program-container {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 10px;

    h3 {
        margin-bottom: 10px;

        a {
            color: darken($link, 50%);
        }
    }
}

.task-spec {
    line-height: 1.5em;

    .goal {
        padding: 0 5px;
        border-radius: 4px;
        cursor: pointer;
        user-select: none;
    }
}

.pivot-view {
    .minimap {
        .toggle { margin-bottom: 5px; }
    }

    .io {
        background: $bg-grey;
        padding: 20px;

        .data-container {
            overflow: auto;

            > div {
                float: left;
                margin-right: 20px;
            }
        }
    }

}

.column-container {
    position: relative;

    .main-content {
        width: 1380px;

        .main-sticky {
            position: sticky;
            top: 0px;
            left: 0;
            background: $bg-grey;
            padding: 20px;
            border-bottom: 20px solid white;
            border-top: 20px solid white;
            margin-top: -20px;
            z-index: 2;
        }

        .main-scroll {
            position: relative;
            z-index: 1;
        }
    }

    .sidebar {
        width: 200px;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;

        .sidebar-sticky {
            position: sticky;
            top: 20px;
            left: 0;
            width: 100%;
            padding: 15px 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;

            font-size: 16px;
            line-height: 1.3em;
        }

        ol {
            margin-top: 10px;
            margin-bottom: 0;
            margin-left: -15px;

            li:last-child {
                margin-bottom: 0;
            }

            a {
                text-decoration: none;
                color: darken($link, 50%);

                &.hl { text-decoration: underline; }
            }
        }
    }

    &.big {
        .main-content { width: 1280px; }
        .sidebar { width: 300px; }
    }
}

.plan-desc {
    .goal {
        padding: 2px 5px;
        margin: 0 5px;
        border-radius: 4px;
    }
}

table {
    border-collapse: collapse;

    td, th { border: 1px solid black; padding: 2px 5px; }
}

ol li {
    margin-bottom: 10px;
}

.code-table {
    border-collapse: collapse;
    table-layout: fixed;

    .selected {
        background: rgba(80, 240, 150, 0.3) !important;
    }

    .hover {
        background: rgba(240, 240, 30, 0.3);
    }

    .hoverable {
        cursor: pointer;
    }

    td, th {
        border: 1px solid black;
        padding: 4px 10px;
        width: 200px;
        height: 100px;
        overflow: hidden;
    }

    th {
        height: 60px;
    }

    .task-kind, .task-type {
        width: 50px;
    }

    .task-kind {
        font-weight: normal;
        font-style: italic;
    }

    .task-type {
        font-weight: bold;
    }

    th {
        border-top: none;
    }

    td:first-child, th:first-child {
        border-left: none;
    }

    td:last-child, th:last-child {
        border-right: none;
    }

    tr:last-child td {
        border-bottom: none;
    }

    .ace_editor { background: none; }
    .ace_scrollbar { display: none; }
}

.analysis {
    p {
        margin: 10px 0;
    }

    h3 {
        margin-bottom: 10px;
    }

    .task-spec {
        background: $bg-grey;
        padding: 10px;
    }

    .program-container {
        padding: 5px;
    }

    .question-body {
        padding: 0 10px;
    }
}

footer {
    margin-top: 20px;
    padding: 10px 0 0;
    border-top: 1px solid #ccc;
    color: #999;

    a {
        color: $link;
    }
}

.mobile {
    display: none;
}

.mobile-inline {
    display: none;
}

.desktop {
    display: block;
}

.desktop-inline {
    display: inline;
}


@media only screen and (max-width: 1600px) {
    body {
        padding-bottom: 5px;
    }

    #container {
        margin-top: 0;
        width: 100%;
    }

    .mobile {
        display: block;
    }

    .mobile-inline {
        display: inline;
    }

    .desktop {
        display: none;
    }

    .desktop-inline {
        display: none;
    }

    .title {
        padding-top: 5px;

        > * { float: none !important; }

        h1 {
            text-align: center;
            line-height: 1em;
            margin-bottom: 15px;
        }

        nav {
            text-align: center;
        }
    }

    h2 {
        line-height: 1em;
    }

    ol {
        margin-left: -1em;
    }

    .tasks-mobile {
        h2 {
            margin-bottom: 0;
        }

        ul {
            margin-left: -1em;
            margin-bottom: 2em;

            a {
                color: darken($link, 50%);
            }
        }
    }

    .code-table {
        .task-kind, .task-type {
            width: 30px;
        }

        td, th {
            width: 30px;
            height: 30px;
        }
    }

    .column-container {
        position: relative;

        .main-content {
            width: 100%;
        }

        .sidebar {
            width: 100%;
            position: relative;

            .sidebar-sticky {
                font-size: 20px;
                position: relative;
                top: 0;
            }
        }

        &.big {
            .main-content { width: 100%; }
            .sidebar { width: 100%; }
        }
    }

    .program-container {
        float: none;
        width: 100%;
        padding: 0;
    }

    .pivot-view {
        .io {
            .header {
                display: block;
                margin-bottom: 10px;
            }

            .input {
                margin-bottom: 10px;
            }
        }
    }

    .analysis {
        p {
            padding: 0 0 0 5px;
        }
    }

    .vega-embed {
        max-width: 100%;
        padding: 0;
        overflow: auto;
    }
}
