body {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

#container {
    width: 1200px;
    margin: 10px auto;
}

.back-button {
    float: right;
    font-size: 20px;
}

.program-container {
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.matrix {
    border-collapse: collapse;
    table-layout: fixed;

    .hover {
        background: rgba(240, 240, 30, 0.3);
    }

    .hoverable {
        cursor: pointer;
    }

    td, th {
        border: 1px solid black;
        padding: 4px 10px;
        width: 150px;
        height: 100px;
        overflow: hidden;
    }

    .task-kind, .task-type {
        width: 50px;
    }

    .task-kind {
        font-weight: normal;
        font-style: italic;
    }

    .task-type {
        font-weight: bold;
    }

    th {
        border-top: none;
    }

    td:first-child, th:first-child {
        border-left: none;
    }

    .ace_editor { background: none; }
    .ace_scrollbar { display: none; }
}
